client
setenv SERVER_Poll_TIMEOUT 4
nobind
proto udp
remote SEU_IP 1194
dev tun
dev-type tun
persist-tun
persist-key
ns-cert-type server
ca /config/openvpn/keys/ca.crt
cert /config/openvpn/keys/RAMAL.crt
key /config/openvpn/keys/RAMAL.key
comp-lzo